Flask==0.12.2
requests==2.18.1
slackclient==1.0.6
raven==6.1.0
git+git://github.com/mhfowler/open-source-feeds.git#egg=osf&subdirectory=osf
uwsgi==2.0.15
virtualenv==15.1.0
flask-mail==0.9.1
boto3==1.4.7
Flask-SQLAlchemy==2.1
psycopg2==2.7.1
SQLAlchemy==1.0.12
flask-admin==1.4.2
Flask-BasicAuth==0.2.0