data/*
geckodriver.log
*secret_files/*
*devops/roles/*
*devops/build
*devops/roles
*devops/hosts
*devops/secret_files
osf-example*
whats_on_your_mind
whats-on-your-mind
ghostdriver.log
osf-website
osf_scraper_api/osf_scraper_api/web/temp.jpg
osf-data-archive
osf-pamphlet
