/*body {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*font-family: sans-serif;*/
/*}*/


body {
    padding: 3rem;
    cursor: default;
    -webkit-app-region: drag;
    font-family: sans-serif;
}

button {
    -webkit-app-region: no-drag;
}

.title-bar {
    float:left;
}