{% extends 'emails/base_email.html' %}
{% block email_content %}
<div style=
 "width: 90%;
 margin: auto;
 max-width: 400px;
 margin-top: 10%;
 margin-bottom: 10%;
 "
>
<div style=
  "font-size: 20px;
  padding-bottom: 2rem;
  padding-top: 1rem;
  color: white;
  text-align: center;
  margin-bottom: 1rem;

  "
>
Welcome to cpisearch
</div>
<div style=
  "
  background-color: white;
  border-radius: 5px;
  height: 180px;
  "
>
  <div style=
    "
    color: black;
    font-size: 15px;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 90%;
    margin: auto;
    "
  >
    You've been invited by {{invited_by.first_name}} {{invited_by.last_name}} to cpisearch.
  </div>
  <div style=
  "
    text-align: center;
    width: 100%;
    margin-top: 20px;

    "
  >
    <a href={{invitation_link}}
    style = "
    padding: 1rem;
    font-size: 15px;
    color: white;
    background-color: #82bf78;
    border-radius: 5px;
    text-decoration: none;
    "
    >
    Claim your invitation
  </div>
</div>
<div style=
  "font-size: 14px;
  padding-bottom: 2rem;
  color: white;
  text-align: center;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
  "
>
<a href="http://cpisearch.io/"
   style="
  color: white;
  "
  > cpisearch.io </a>
</div>
</div>
{% endblock %}
