description "uWSGI server instance configured to serve hello_webapp"

start on runlevel [2345]
stop on runlevel [!2345]

setuid wsgi-user
setgid webgroup

chdir /srv/app/osf_scraper_api
exec uwsgi --ini app.ini