body {
    margin: 3rem;
    cursor: default;
}

.osf-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.title-row {
    margin-bottom: 20px;
}

.osf-button {
    margin-top: 15px;
    background-color: black;
    width: 160px;
}
.osf-button:hover {
    background-color: gray;
}
.osf-explanation {
    margin-top: 15px;
}

.success-alert {
    display:none;
}
.error-alert {
    display:none;
}
.stop-button {
    display: none;
}

.no-docker {
    display: none;
}
.main-window {
    display: none;
}
.state {
    display: none;
}